#!/bin/bash
CRS=/var/spool/nxlog/systemd-tail.pos
FIELDS={{ nxlog_journalctl_FIELDS }}
PRIORITY={{ nxlog_journalctl_PRIORITY }} # "emerg" (0), "alert" (1), "crit" (2), "err" (3), "warning" (4), "notice" (5), "info" (6), "debug" (7)
SAMPLE_TIME=1

while sleep $SAMPLE_TIME; do
  journalctl --priority ${PRIORITY} --output-fields=${FIELDS} --output=json --cursor-file=${CRS} --no-pager
done